<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>PetProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>home</servlet-name>
    <jsp-file>/home.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>home</servlet-name>
    <url-pattern>/homePath</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>petlogin</servlet-name>
    <jsp-file>/petlogin.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>petlogin</servlet-name>
    <url-pattern>/loginPath</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>owner</servlet-name>
    <jsp-file>/ownerlogin.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>owner</servlet-name>
    <url-pattern>/ownerRegisterPath</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>logout</servlet-name>
    <jsp-file>/petlogin.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>logout</servlet-name>
    <url-pattern>/logoutPath</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>doctorregister</servlet-name>
    <jsp-file>/registerdoctor.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>doctorregister</servlet-name>
    <url-pattern>/doctorregisterPath</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ownerregister</servlet-name>
    <jsp-file>/registerowner.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>ownerregister</servlet-name>
    <url-pattern>/ownerregisterPath</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>adminupdatepassword</servlet-name>
    <jsp-file>/adminpassword.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminupdatepassword</servlet-name>
    <url-pattern>/adminupdatePath</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>doctorupdatepassword</servlet-name>
    <jsp-file>/doctorpassword.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>doctorupdatepassword</servlet-name>
    <url-pattern>/doctorupdatePath</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>makeappointment</servlet-name>
    <jsp-file>/appointment.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>makeappointment</servlet-name>
    <url-pattern>/appointmentPath</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>clinicservices</servlet-name>
    <jsp-file>/clinicservices.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>clinicservices</servlet-name>
    <url-pattern>/clinicservicesPath</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>pettreatment</servlet-name>
    <jsp-file>/pettreatment.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>pettreatment</servlet-name>
    <url-pattern>/pettreatmentPath</url-pattern>
  </servlet-mapping>
</web-app>